extends layout

block navbar
  form(action="search").navbar-search.pull-right
    input(type="text", value=query, name="query", placeholder="search")#query

block content
  .alert.alert-error
    strong Error! 
    = message
