extends layout

block content
  .hero-unit
    h1 Node Reference Manual Search.
    p Search node.js documents.
  .search-on-top
    form(action='search').form-search
      input(type='text', name="query").search-query#query
      input(type='submit', value="Search").btn
