!!! 5
html
  head
    title norema
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/norema.css", rel="stylesheet")
    script(src="/js/jquery-1.7.2.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/norema.js", type="text/javascript")

  body('data-spy'='scroll', 'data-target'='.side-nav', 'data-offset'='60')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") norema
          block navbar
    .container
      block content

      footer.row
        .span12
          hr
          p
            span
              | Get the source code on GitHub: 
              a(href="https://github.com/nroonga/norema") nroonga/norema
              |.
            span
              |  Powered by 
              a(href="gcs.groonga.org") Groonga CloudSearch
              |.
