body {
  margin-top: 60px;
}

.search-on-top {
  text-align: center;
}

.search-on-top input#query {
  width: 920px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.search-on-top input[type="submit"] {
  padding: 7px 14px 7px 14px;
}

footer {
  margin-top: 20px;
}
